configuration {               
  modes: "window,run,ssh,drun";
  font: "JetBrains Mono 12";
  location: 0;
  yoffset: 0;
  xoffset: 0;
  fixed-num-lines: true;

  ml-row-down: "ScrollDown";
  me-select-entry: "MousePrimary";
  me-accept-entry: "MouseDPrimary";
  me-accept-custom: "Control+MouseDPrimary";
}

@import "~/.config/rofi/colors/onedark.rasi"
